{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base/base_css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'base/base_css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'base/base_css/base_style.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/users.css' %}">
    <script defer type="module" src="{% static 'users/js/users.js' %}"></script>
    <title>{{title}}</title>
</head>
<body>
    <div class="container users-container">
        <section class="registration">
            <div class="registration__links-block">
                <a href="{% url 'main' %}" class="reg-auth__link">главная</a>
                <a href="{% url 'main' %}" class="reg-auth__link">вход</a>
            </div>
            <div class="registration__content">
                <h2 class="registration__title reset-text">РЕГИСТРАЦИЯ</h2>
                    {% if timer_run %}
                        <div class="reg-auth__timer">
                            <p class="registration__timer-timer {% if second_step %} text--hidden {% endif %}">{{ timer }}</p>
                        </div>
                    {% else %}
                        <div class="reg-auth__timer">
                            <p class="registration__timer-timer"></p>
                        </div>
                    {% endif %}
                <div {% if first_step or second_step %} class="registration__step registration-first-step step-display--off" {% else %}class="registration__step registration-first-step step--active" {% endif %}>
                    <p class="registration__step-text reset-text">
                        Введите e-mail для регистрации. На него будет выслан код для подтверждения.
                    </p>
                    <input type="email" placeholder="Введите e-mail" class="registration__mail-input form-input">
                    <button class="registration__send-confirmation">принять</button>
                    <p class="registration__step-error reset-text"></p>
                </div>

                <div {% if first_step and not second_step %} class="registration__step registration-second-step step--active" {% else %} class="registration__step registration-second-step step-display--off" {% endif %}>
                    <div class="registration__step-block">
                        <p class="registration__text reset-text">На ваш e-mail: <span class="registration__email-text"> {{email}} </span> выслан код подтверждения. Пожалуйста, введите код ниже и нажмите подтвердить, чтобы продолжить регистрацию.</p>
                        <input type="number" placeholder="Введите код подтверждения..." type="text" class="registration__confirm-input form-input">
                    </div>
                    <p class="reg-auth__step-error step-error-bottom reset-text"></p>
                    <div class="registration__step-block">
                        <p class="registration__resand-message"></p>
                        <button class="registration__resend-confirmation">отправить еще раз</button>
                    </div>

                    <div class="registration__step-block">
                        <button class="registration__confirm-button">подтвердить</button>
                        <button class="registration__change-email">сменить e-mail</button>
                    </div>
                    
                </div>

                <div {% if second_step %} class="registration__step registration-third-step step--active" {% else %} class="registration__step registration-third-step step-display--off" {% endif %}>
                    <form class="reg-auth__form" method="POST">
                        {% csrf_token %}
                        <div class="reg-auth__blocks">
                            <ul class="reg-auth__error-list reset-list">
                                {% for error in form.non_field_errors  %}
                                    <li class="reg-auth__error-list-item">
                                        {{error|escape}}
                                    </li>
                                {% endfor %}
                            </ul>
                            {% for field in form %}
                            <div class="reg-auth__form-block">
                                <p class="reg-auth__form-label reset-text">{{field.label}}</p>
                                {{field}}
                                <ul class="reg-auth__error-list reset-list">
                                    {% for error in field.errors %}
                                        <li class="reg-auth__error-list-item">
                                            {{error}}
                                        </li>
                                    {% endfor %}
                                </ul>
                                
                            </div>
                            {% endfor %}
                        </div>
                    
                        <button class="reg-auth__submit-button" type="submit">{{ btn_title }}</button>
                    </form>
                </div>
            </div>
            
        </section>
    </div>

</body>
</html>